<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="chat-container mt-5">
<%= link_to chatrooms_path, class: "back-button" do %>
  <i class="fas fa-chevron-left"></i>
<% end %>
<div class="chat-header" data-controller="video">
  <div class="user-info">
    <% if @other_user.profile_picture %>
      <%= image_tag @other_user.profile_picture, alt: "Profile Picture", class: "profile-picture" %>
    <% end %>
    <h5 class="user-name"><%= @other_user.first_name %></h5>
    <a href="#" class="video-call-icon" data-action="video#joinOrLeaveRoom">
      <i class="fas fa-video"></i>
    </a>
  </div>
</div>

  <div id="message-box" class="message-box">
    <% @chatroom.messages.each do |message| %>
      <div class="message-wrapper <%= 'message-sent' if message.user == current_user %> <%= 'message-received' if message.user != current_user %>">
      <p class="message-bubble <%= 'message-sent' if message.user == current_user %> <%= 'message-received' if message.user != current_user %>">
        <span class="message-text"><%= message.content %></span>
      </p>
      </div>
    <% end %>
  </div>

  <%= form_with model: [@chatroom, @message], local: true, class: "message-form" do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="input-group">
      <%= form.label :content, "New Message", class: "sr-only" %>
      <%= form.text_field :content, class: "message-input", placeholder: "Type your message..." %>
    </div>
    <%= form.submit "Send", class: "send-button" %>
  <% end %>
</div>

<script src="https://sdk.twilio.com/js/video/releases/2.22.1/twilio-video.min.js"></script>
