<div class="container mt-5">
  <h1 class="title">Find your new language buddy</h1>


  <div class="filter-container-wrapper" data-controller="filter">
    <button data-action="click->filter#toggle" data-filter-target="toggle" class="btn-primary btn-full-width" id="filter-toggle">Filter</button>
    <div id="filter-form" data-filter-target="form" class="hidden filter-container">
      <%= form_with url: users_path, method: :get, local: true, class: 'filter-form' do %>
        <div class="filter-item">
          <label for="city">City:</label>
          <%= text_field_tag :city, params[:city], placeholder: "Enter city", class: 'search-select' %>
        </div>
        <div class="filter-item">
          <label for="spoken_language">Spoken Language:</label>
          <%= select_tag :spoken_language, options_for_select(Language.all.collect { |language| [language.name, language.id] }, params[:spoken_language]), include_blank: true, class: 'search-select' %>
        </div>
        <div class="filter-item">
          <label for="wanted_language">Wanted Language:</label>
          <%= select_tag :wanted_language, options_for_select(Language.all.collect { |language| [language.name, language.id] }, params[:wanted_language]), include_blank: true, class: 'search-select' %>
        </div>
        <div class="filter-item">
          <%= submit_tag 'Filter', class: 'btn-primary btn-full-width' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="buddies-container">
    <% @users.each do |user| %>
    <% next if user == current_user %>
      <div class="buddy-card" onclick="redirectToUserProfile(<%= user.id %>)">
        <div class="buddy-card-info">
          <h2><%= user.first_name %></h2>
          <p><span class="label"><i class="fa-solid fa-location-dot"></i> <%= user.city %></span></p>
          <% spoken_languages = user.user_languages.select { |ul| ul.spoken }.map { |ul| ul.language.name } %>
          <% wanted_languages = user.user_languages.select { |ul| ul.wanted }.map { |ul| ul.language.name } %>
          <p><span class="label"><i class="fa-solid fa-comment"></i> <%= spoken_languages.join(', ') %></span></p>
          <p><span class="label"><i class="fa-regular fa-comment"></i> <%= wanted_languages.join(', ') %></span></p>
          <%= link_to '#', class: "favorite-star #{'active' if current_user.favorited?(user)}", data: { user_id: user.id, turbolinks: false, controller: "favorite", action: "click->favorite#favoris", favorite_user_id_value: user.id } do %>
            <i class="fa fa-star"></i>
          <% end %>
        </div>
        <div class="avatar">
          <% if user.profile_picture %>
            <%= image_tag user.profile_picture, alt: "Profile Picture" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


<script>
  function redirectToUserProfile(userId) {
    window.location.href = `/users/${userId}`;
  }
</script>
