<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid nav-container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", alt: "Logo", width: "40", height: "40", class: "d-inline-block align-text-top" %>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <ul class="navlinks">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to user_path(current_user.id), class: "nav-link" do %> <i class="fa-solid fa-user"></i> <span>My Profile</span> <% end %>
        </li>
        <li class="nav-item">
          <%= link_to chatrooms_path, class: "nav-link" do %> <i class="fa-solid fa-comments"></i> <span>Messages</span> <% end %>
        </li>
        <li class="nav-item">
          <%= link_to favorites_profiles_path, class: 'nav-link' do %> <i class="fa fa-star"></i> <span>Favorite</span> <% end %>
        </li>
      <% end %>
    </ul>

    <div class="dropup" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <a href="#" class="avatar nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user.profile_picture %>
          <%= image_tag current_user.profile_picture, alt: "Profile Picture", class: "rounded-circle", width: "30", height: "30" %>
        <% else %>
          <div class="rounded-circle" style="width: 50px; height: 50px; background: #ddd;"></div>
        <% end %>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> <!-- Ensures the dropdown is aligned to the right -->
          <%= link_to "Account", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
