<div class="container mt-5">

  <h1 class="title">Your favorite Buddies</h1>


  <div class="buddies-container">
    <% @favorites.each do |user| %>
      <div class="buddy-card" onclick="redirectToUserProfile(<%= user.id %>)">
        <div class="buddy-card-info">
          <div class="buddies-info">
            <p><i class="fa-solid fa-location-dot"></i> <%= user.city %></p>
            <% spoken_languages = user.user_languages.select { |ul| ul.spoken }.map { |ul| ul.language.name } %>
            <% wanted_languages = user.user_languages.select { |ul| ul.wanted }.map { |ul| ul.language.name } %>
            <p><i class="fa-solid fa-comment"></i> <%= spoken_languages.join(', ') %></p>
            <p>Wants to learn: <%= wanted_languages.join(', ') %></p>

          </div>
          <%= link_to '#', class: "favorite-star #{'active' if current_user.favorited?(user)}", data: { user_id: user.id, turbolinks: false, controller: "favorite", action: "click->favorite#favoris", favorite_user_id_value: user.id } do %>
            <i class="fa fa-star"></i>
          <% end %>
        </div>
        <div class="avatar">
          <% if user.profile_picture %>
            <%= image_tag user.profile_picture, alt: "Profile Picture" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function redirectToUserProfile(userId) {
    window.location.href = `/users/${userId}`;
  }
</script>
